<section>
		<div class="form" id="login">
            <h1>Customer Registration</h1>

            {{#each errorMessages}}
                <div class="error-fields">{{this}}</div>
            {{/each}}
            
            <form action="/formRegistration" method="POST" name="contactForm">
          
            <div class="form-control">
                <input type="text" id="firstname" name="firstname" placeholder="First name">
                <div class="error-fields"></div>
            </div>
            
            <div class="form-control">
                <input type="text" id="lastname" name="lastname" placeholder="Last name">
                <div class="error-fields"></div>
            </div>

            <div class="form-control">
                <input type="text" id="email" name="email" placeholder="Email">
                <div class="error-fields"></div>
            </div>
            
            <div class="form-control">
                <input type="password" id="password" name="password" placeholder="Password">
                <div class="error-fields"></div>
            </div>
            
            <div class="form-control">
            <!--<button type="button" id="submit">Registration</button>-->
            <input type="submit" value="Registration">
            </div>
            
            <!--</form>-->
        </div><!--/ form -->
</section>